@model List<PhieuMuon>

<h2>Danh sách phiếu mượn</h2>

<p>
    <a asp-action="Create">+ Lập phiếu mượn</a>
</p>

<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Độc giả</th>
        <th>Ngày mượn</th>
        <th>Hạn trả</th>
        <th>Trạng thái</th>
        <th></th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PhieuMuonId</td>
            <td>@x.DocGia?.DocGiaId</td>
            <td>@x.NgayMuon</td>
            <td>@x.HanTra</td>
            <td>@x.TrangThai</td>
            <td>
                <a asp-action="Details" asp-route-id="@x.PhieuMuonId">Chi tiết</a>
            </td>
        </tr>
    }
</table>
